nav {
  display: flex;
  width: 48rem;
  margin: auto;
  justify-content: center;
}

.page-container {
  display: flex;
  width: 48rem;
  margin: auto;
  background-color: aquamarine;
}

.homepage-heading {
  font-family: "Gill Sans", sans-serif;
}
